:root {
  --color-white: #fff;
  --color-pink: #2510a3;
  --color-blue: #2510a3;
  --color-black: #0c0c0c;
  --color-purple: #5f01ac;
  --color-grey: #111111;
  --color-cinzaclaro: #191919;
  --color-red: #4169e1;
  --color-burlywood: #caa252;
  --color-gold: rgba(255, 217, 0, 0.836);
}
